<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Proxy</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="bg-gray-100 dark:bg-gray-900">
  <main class="h-screen flex flex-col items-center justify-center">
    <h1 class="text-2xl sm:text-4xl font-bold text-gray-800 dark:text-gray-200 mb-4 sm:mb-8">Web Proxy By <a href="https://facebook.com/srijon777xx" target="_blank"
        class="text-blue-600">Srijon</a></h1>

    <div class="w-full max-w-md">
      <div class="flex flex-col bg-white dark:bg-gray-800 rounded-lg shadow-md p-4">
        <form action="/proxy" method="get" class="flex flex-col space-y-4">
          <input name="target_url" required
            class="h-10 rounded-md border border-input bg-background px-3 py-2 text-sm focus:outline-none"
            placeholder="Enter website URL" type="text">
          <button type="submit"
            class="h-10 bg-blue-600 text-white rounded-lg shadow-md hover:bg-primary/90 transition-colors focus:outline-none">
            Surf
          </button>
        </form>
      </div>
    </div>
  </main>
</body>

</html>
